.app .main-content{
  margin: 0 auto;
}
.app .filtered-table {
  width: 100%;
}
.app .search-bar .search-btn{
  width: 100%;
}

.debug {
  position: fixed;
  right: 10px;
  top: 5px;
  padding: 10px;
  max-height: 500px;
  border: 1px solid #00AAFF;
  overflow: auto;
  font-size: 80%;
  box-shadow: 6px 6px 12px grey;
  background-color:#FFF;
}

.hide {
  display: none !important;
}
